<h1>Books <%= link_to 'New Book', new_book_path, class: 'btn btn-success' %> </h1>
<hr/>
  <%= render 'books_navigation' %>
<hr/>

<div class='row'>
  <% @books.each_with_index do |book, index| %>
    <% if policy(book).show? %>
      <div class='col col-lg-4'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to book.title, book %></h3>
          </div>
          <div class="panel-body">
            <%= link_to book do %>
              <%= image_tag(book.logo, class: 'center-block img-responsive') %>
            <% end %>
            <hr/>
              <%= render 'genres', genres: book.genres %>
            <hr/>
            <h3 class="center-block"><%= book.author %></h3>
            <%= link_to 'Show', book, class: 'btn btn-primary' %>
            <div>
              <%= render 'owner_section', book: book %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Fix for broken grids -->
    <% if index % 2 %>
      <div class="clearfix visible-xs-block"></div>
    <% end %>
  <% end %>
</div>
