<h1>Books <%= link_to 'New Book', new_book_path, class: 'btn btn-success' %> </h1>

<hr/>

<div class='row'>
  <% @books.each do |book| %>
    <% next if book.draft? && !is_owner?(book.user) %>
    <div class='col col-lg-4'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= book.title %></h3>
        </div>
        <div class="panel-body">
          <%= image_tag(book.logo, class: 'center-block') %>
          <h3 class="center-block">
            <%= book.author %>
          </h3>
          <%= link_to 'Show', book, class: 'btn btn-primary' %>
          <div>
            <hr/>
            <h5>Owner section</h5>
            <% if is_owner?(book.user) %>
              <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-info' %>
              <%= state_link(book) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
