<h1><%= @book.title %></h1>
<h4><%= @book.author %></h2>
  <%= image_tag(@book.logo, class: 'center-block img-responsive') %>

<hr/>
  <%= render 'genres', genres: @book.genres %>
<hr/>
<h4>Description</h4>
  <p>
    <%= @book.description %>
  </p>

<%= render 'owner_section', book: @book %>
<hr/>

<%= link_to 'Back', books_path, class: 'btn btn-default' %>
